i3/bumblebee-status/
i3/bumblebee-status/*
ipython/profile_default/history.sqlite
node_modules/*
package*.json
powerlevel10k/
tmux/plugins/tmux-themepack/
venv/venv*
zsh/.zcompdump
zsh/packages/zsh-syntax-highlighting
zsh/packages/zsh-autosuggestions/
zsh/packages/zsh-syntax-highlighting/*
nvim/plugin/packer_compiled.lua
